{% extends 'src/main.html' %}
{% block title %}Unplanned Downtime{% endblock %}
{% block main %}
<div class="grid">
    <div class="grid__col col-8@m">
        <main id="main-content" class="page__main" role="main">
            <h1>Unplanned downtime</h1>
            <p>We are currently experiencing technical difficulties. Our engineers are investigating and hope to have the service back up shortly.</p>
            <p>Thank you for your patience.</p>
        </main>
    </div>
</div>
{% endblock %}